:root {
    --primary-subtitle-color: #757575;
    --accent-color: #2196f3;
    --button-hover-color: #188ce8;
    --white-color: #ffffff;
    --primary-text-color: #212121;

    /* color */

    --primary-hero-footer-color: #2f303a;
    --primary-team-color: #f5f4fa;
    --footer-adress-color: rgba(255, 255, 255, 0.6);
    --portfolio-btn-color: #f5f4fa;
    --portfolio-main-color: #e5e5e5;
    --main-project-iteam: #eeeeee;
    --passive-icon-color: #afb1b8;
}