.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
overflow-y: scroll;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 609px;
    padding: 40px;
    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms ease-in-out 250ms, opacity 250ms ease-in-out 250ms;
@media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }
}

.backdrop.is-hidden .modal {
    transform: scale(.5);
    opacity: 0;
}

.backdrop.modal {
    transform: scale(1);
    opacity: 1;
}

.modal-button {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    width: 30px;
    height: 30px;
    background: var(--white-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    cursor: pointer;

&:hover,
    &:focus {
        fill: var(--accent-color);
        border: 1px solid var(--accent-color);
    }
}



.modal-title {
    display: block;
    font-family: 'Roboto',
        sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 12px;
}

.form-modal-group,
.form-policy-group {
    display: block;
    margin-bottom: 10px;
}

.form-modal-group {
    position: relative;
}

.form-modal-label {
    position: relative;
    display: block;
    text-align: left;
    margin-bottom: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-subtitle-color);
}

.form-modal-input {
    width: 100%;
    padding: 12px 12px 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    cursor: pointer;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
            border: 1px solid var(--accent-color);
        }
}

.form-modal-icon {
    position: absolute;
    bottom: 11px;
    left: 12px;

    fill: var(--primary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.form-modal-input:focus~.form-modal-icon {
    fill: var(--accent-color);
}

.form-modal-group:focus-within .form-modal-input,
.form-modal-group:hover .form-modal-input {
    border: 1px solid var(--accent-color);
}

.form-modal-group:focus-within .form-modal-icon,
.form-modal-group:hover .form-modal-icon {
    fill: var(--accent-color);
}

.form-modal-comments {
    display: block;
    width: 218px;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 0;
    cursor: pointer;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin-bottom: 20px;

    @media screen and (min-width: 480px) {
        width: 370px;
    }

    @media screen and (min-width: 1200px) {
        width: 448px;
    }

}

.form-modal-comments:focus {
    border: 1px solid var(--accent-color);
}

.form-modal-group:focus-within .form-modal-comments,
.form-modal-group:hover .form-modal-comments {
    border: 1px solid var(--accent-color);
}

.form-policy-group {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.custom-checkbox {
    width: 16px;
    height: 15px;
    margin-right: 7px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 2px;
    outline: 2px solid var(--primary-text-color);
    outline-offset: -2px;

    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        outline: 2px solid var(--accent-color)
    }

}



.checkbox:checked+.custom-checkbox {
    background-color: var(--accent-color);
    outline: none;
}

.form-modal-icon-check {
    fill: var(--white-color);
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked+.custom-checkbox .form-modal-icon-check {
    opacity: 1;
}

.form-policy-desc {
    font-family: 'Roboto',
        sans-serif;
    font-size: 12px;
    line-height: 1.16;
    color: var(--primary-subtitle-color);

    @media screen and (min-width: 1200px) {
            font-size: 14px;
            line-height: 1.71;
        }
}

.form-police-link {
    color: var(--accent-color);
    text-decoration-line: underline;
}

.submit-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 55px;
    margin-top: 30px;

    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-family: 'Roboto',
        sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-color);

    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--button-hover-color);
    }

}

