body {
    background-color: var(--white-color);
    font-family: Roboto,
        sans-serif;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    font-size: 14px;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

// планшет
@include mq(tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
}

// декстоп
@include mq(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
}
}