body {
    background-color: var(--white-color);
    font-family: Roboto,
        sans-serif;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    font-size: 14px;
}

.section {
    padding: 60px 0px;
    
        @media screen and (min-width: 768px) {
            padding: 60px 0px;
        }
    
        @media screen and (min-width: 1200px) {
            padding: 94px 0px;
        }
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.no-scroll {
    overflow: hidden;
}