.doing {
    @media screen and (max-width: 1200px) {
    padding-top: 0px;
    padding-bottom: 94px;
}
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

}

.doing-list {
    display: flex;
    height: 294px;

}

.doing-list__item:not(:last-child) {
    margin-right: 30px;
}

.doing-list__img {
    position: relative;
}

.doing-list__text {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    bottom: 0;
    right: 0;
    font-weight: 700;
    text-align: center;
    line-height: 1.14;

    background: rgba(47, 48, 58, 0.8);
    color: var(--white-color);
    text-transform: uppercase;
}