.doing {
display: none;

    @media screen and (min-width: 1200px) {
        display: block;
    }

    padding-bottom: 94px;

        &-list {
        display: flex;
    }

    &-list__item:not(:last-child) {
        margin-right: 30px;
    }

    &-list__item {
        position: relative;
    }

    &-list__img {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        display: flex;
        width: 370px;
        height: 70px;
        background: rgba(47, 48, 58, 0.8);
    }

    &-list__text {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--white-color);
        margin: auto;
    }
}

.section-title {
    
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

}

