.footer {
    padding-bottom: 60px;
    padding-top: 60px;
    color: var(--white-color);
    background-color: var(--primary-hero-footer-color);
}

.join {
    @media screen and (min-width: 768px) and (max-width: 1200px) {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: space-around;
        }
    
        @media screen and (min-width: 1200px) {
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: baseline;
        }
    }

    .logo-foot {
        text-align: center;
        
            @media screen and (min-width: 1200px) {
                margin-right: 70px;
                text-align: start;
    }
}

.foot-logo.logo {
    display: inline-block;
    color: inherit;
    margin-bottom: 20px;
}


.adress-list {
    @media screen and (max-width: 1200px) {
            margin-bottom: 60px;
        }
}

.adress-list__item:not(:last-child) {
    margin-bottom: 9px;
}


.adress-list__contact {
    display: inline-block;

    color: var(--white-color);
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
   
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

}

.adress-list__contact-item {
   
    font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        text-decoration: none;
        font-style: normal;
    color: var(--footer-adress-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
        &:focus {
            color: var(--accent-color);
        }
}


.footer-social-media-section {
    @media screen and (max-width: 1200px) {
            margin-bottom: 60px;
            justify-content: center;
            text-align: center;
        }
}

.footer-social-media__title {
    font-family: Roboto,
        sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
}

.media-list {
    display: flex;
    @media screen and (min-width: 1200px) {
            justify-content: start;
        }
}

.media-list__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
        &:focus {
            background-color: var(--accent-color);
        }
}



.media-list__item {
    margin-right: 10px;
}

.media-list__item:last-child {
    margin-right: 0;
}

.media-list__icon {
    fill: var(--white-color);
}
