.header-list {
    margin-left: 93px;

}

.header-container {
    display: flex;
}

.navigation {
    display: flex;
    align-items: center;

}

.link {
    position: relative;
        align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    
    
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
    &:focus { color: var(--accent-color);}
    
    }

.header-list {
    display: flex;
}

.header-list__link {
    position: relative;
    
}

.header-list__item:not(:last-child) {
    margin-right: 50px;
}

.header-list__link {
    position: relative;
   
        padding: 32px 0;

                    }


.header-list__link.header-list__link--current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    
    display: block;
    bottom: 0;
    left: 0;

    background-color: var(--accent-color);
    border-radius: 2px;
    margin-bottom: -1px;
}

.header-list .item:not(:last-child) {
    margin-right: 50px;
}

.contact {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contacts__item:not(:last-child) {
    margin-right: 50px;
}

.contacts__link {
    display: flex;
    align-items: center;
    padding: 32px 0;
    color: var(--primary-subtitle-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
    fill: var(--accent-color);
}

.header-list_link--current {
    color: var(--accent-color);
}

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}