.hero {
    max-width: 1600px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--primary-hero-footer-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/background-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-title {

    margin-bottom: 30px;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--white-color);
}

.hero-button {
    display: inline-block;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 32px;
    min-width: 200px;
    border: none;
    cursor: pointer;

    background-color: var(--accent-color);
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:focus,
    &:hover {
        background-color: var(--button-hover-color);
    }
}

